* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
  }

html, body{
    height: 100%;
    width: 100%;    
}

/* favicon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}  

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* NAV BAR */
nav{
    height: 9%;
    width: 100%;
    background-color: rgba(254, 226, 226, 0.85);
    position: absolute;
}

ul{
    list-style-type: none;
}

a{
    color: #1c1917;
    text-decoration: none;
}

a:hover{
    color: #e11d48;
}


#nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.nav-link{
    padding: 20px;
    list-style-type: none;
}

/* HERO */

#hero{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}

#header-img{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
}

#hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.hero-heading{
    font-size: 4em;
    color: rgba(39 39 42 65);
    text-shadow: 2px 2px 2px #f0917475;
}

.hero-subtitle{
    color: #1c1917;
    font-weight: bold;
    text-shadow: 2px 2px 2px #f0917475;

}

/* FEATURED */

#featured{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fffbeb;
}

.feature-block{
    width: 40%;
    height: 90%;
    margin: 2rem;
    padding: 10px;
    /* border-radius: 10px; */
}

.feature-fig{
    width: 100%;
    height: 100%;
}

.feature-img{
    object-fit: cover;
    width:100%; 
    height:100%;
}


/* NEWSLETTER */

#newsletter{
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: 10px 35% auto;
    grid-template-rows: 50px auto auto;
}

#news-heading{
    grid-column: 1 / span 3;
    grid-row: 1;
    height: max-content;
    font-size: 3rem;
}

/* FORM */

#form{
    grid-row: 2/ span 3;
    grid-column: 1/span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 1rem;
}

#input-name{
    margin-top: 2rem;
}

#input-email{
    margin-top: 1.rem;
}

input[type="submit"]{
    height: 20px;
    width: 30%;
    align-self: left;
    margin-top: 2rem;
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.input-label{
    margin-bottom: 20px;
    font-size: 1rem;
}

.input-field{
    margin-bottom: 5px;
    height: 30px;
    width: 70%;
}

/* VIDEO */

#video-container{
    grid-row: 2/ span 3;
    grid-column: 3;
    height: 100%;
    width: 100%;
    position: relative;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* FOOTER */
footer{
    height: 10%;
    width: 100%;
    background-color: pink;
    opacity: 40%;
    justify-items: center;
}

.footer-quote-container{
    padding-top: 20px;
    color: #14532d;
}

q{
    font-style: italic;
}


/* MEDIA QUERY */
